<div style="text-align:center">
  <button #prev [disabled]="false">Prev</button>
  <span>{{page$ | async}} {{loading}}</span>
  <button #next [disabled]="false">Next</button>
  <div [hidden]="!loading">Loading....</div>
  <table [hidden]="loading">
    <thead>
      <tr>
        <th>#</th>
        <th>First name</th>
        <th>Last name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async as users; index as i">
        <td>{{i+1}} / {{users.length}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
      </tr>
    </tbody>
  </table>
</div>